.hugx.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-block: 0;
    padding-inline: 0;
    
    .item {
        list-style: none;
        flex: 1 1 33%;
        position: relative;
        min-height: 150px;

        .background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        .overlay {
            inset: 0;
            position: absolute;
            padding: 1em;
            width: 100%;

            /* overlay text */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;

            .title {
                font-size: 1.5em;
                font-weight: bold;
                line-height: 1.1;
                margin-block: 8px;
            }
            .subtitle {
                overflow: hidden;
            }
        }

        .overlay.textile {
            .subtitle {
                display: none;
            }
        }
        .overlay.pictile {
            visibility: hidden;
        }
        &:hover {
            .background {
                filter: brightness(25%);
            }
            .pictile {
                visibility: visible;
            }
            .textile {
               .title {
                 display: none;
             }
             .subtitle {
                display: block;
            }
        }
    }
}
}
